# Visual Studio general
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.dbmdl

# Build directories (Debug, Release, etc.)
[Bb]in/
[Oo]bj/
Debug*/
Release*/
x64/
x86/

# C++ compiled files
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Backup / temp files
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store

# Ignore crash dumps
*.dmp
